<div class="container-fluid mt-5" *ngIf="!isLoading">
    <div class="container mb-5 row mt-5 ">
        <img [src]="album.image"
         class="img-fluid"  style="width: 40%" alt="image">
        <h1 class="text-body-secondary col d-flex " 
        style="font-size: 5rem;align-items: flex-end;justify-content: left;"
        >{{album.name}}</h1> 
    </div>

    <table class="table text-center" style="width: 80%;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-start">Title</th>
              <!-- <th scope="col">Views</th>
              <th scope="col">Duration</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let song of album.songs;let i=index" (click)="changePath(song.path)" >
            <th scope="row">{{i+1}}</th>
            <td class="text-start">{{removeExtension(song.name)}}</td>
            <!-- <td>{{song.views}}</td>
            <td>{{song.duration}}</td> -->
          </tr>
        </tbody>
    </table>
    <div >
      <audio controls autoplay class="my-4" style="width:80%" *ngIf="!isPathChanging"><source [src]="path" type="audio/mpeg" ></audio> 
    </div>
</div>

