<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <fa-icon [icon]="musicIcon" class="me-2"></fa-icon>
        <strong>Music</strong> 
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" 
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse "  id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="albums" ><strong>Albums</strong> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="songs"><strong>Songs</strong></a>
          </li>
        </ul>
        <!-- <form (ngSubmit)="search()" class="d-flex" role="search">
          <input class="form-control me-2" type="text" placeholder="Search" [(ngModel)]="filterName" name="filterName" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
