<div  class="container-fluid text-center " >
    <h3 *ngIf="albums.length<1" class="text-center" >
      <small class="text-body-secondary m-5">No albums</small>
    </h3>
    <button routerLink="/albums/form" type="button" class="btn btn-primary col-1 ms-4 mt-4">Add +</button> 
</div>

<div  class="container-fluid row" >
    <div *ngFor="let album of albums" class="card m-4" style="width: 20%"  >
        <img src="../../../assets/images/griffith-berserk-rebirth_1600x900.jpg" class="card-img-top" alt="image">
        <div class="card-body">
          <h5 class="card-title">{{album.name}}</h5>
          </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{album.views}} view</li>
        </ul>
        <div class="card-body justify-content-center ">
          <a [routerLink]="['/albums',album.id]" class="card-link btn btn-primary ">Explore</a>
          <button (click)="deleteAlbum(album.id)" class="btn btn-danger mx-3">Remove</button>
        </div>
      </div>
</div>

